* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto";
}
img {
  width: 40px;
}
.container {
  width: 800px;
  margin: auto;
}

.dictionary-header .container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dictionary-header .container img {
  width: 70px;
  cursor: pointer;
}
.dictionary-header .container .company-name-logo {
  display: flex;
  align-items: center;
  color: #bababa;
  cursor: pointer;
}
.search-bar-container {
  width: 100%;
  background-color: #f4f4f4;
  padding: 15px 25px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 40px;
}
.search-bar-container img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.search-bar-container #word-search {
  color: #292828;
  outline: none;
  font-family: "PT Serif";
  font-weight: bold;
  border: none;
  font-size: 25px;
  background-color: transparent;
  width: 100%;
}
.search-bar-container #word-search::placeholder {
  color: rgb(158, 158, 159, 0.3);
}
.word-transcription-pronouncing {
  display: flex;
  align-items: center;
  font-family: "PT Serif";
}
.word-transcription-pronouncing .word-transcription h1 {
  font-size: 70px;
  color: #292828;
}
